xsd/flower.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="flowers">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="flower"  maxOccurs="unbounded" type="flowerType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="flowerType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Tulip"/>
            <xs:enumeration value="Cactus"/>
            <xs:enumeration value="Dandilion"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>